[Unit]
Description=Update CRL periodically
After=network-online.target

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/make update
WorkingDirectory=/etc/pki/myca
